  .DC {
    margin-top: 105px;

    &__desription,
    &__desription-info {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__desription {
      margin-top: 30px;
      font-size: 21px;
    }

    &__desription-info {
      font-size: 14px;
      color: #828282;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 5px;
      gap: 5px;
      line-height: 1.8;

      p {
        margin-top: -2px;
      }
    }

    &__logo {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
      @media (max-width: 1200px) {
    margin-top: 80px;

    &__desription {
      font-size: 19px;
    }

    &__desription-info {
      font-size: 13px;
    }

    &__logo img {
      max-width: 90%;
      height: auto;
    }
  }

  @media (max-width: 992px) {
    margin-top: 60px;

    &__desription {
      font-size: 17px;
    }

    &__desription-info {
      font-size: 12px;
      line-height: 1.6;
    }

    &__logo img {
      max-width: 80%;
    }
  }

  @media (max-width: 768px) {
    margin-top: 40px;

    &__desription {
      font-size: 15px;
      text-align: center;
    }

    &__desription-info {
      font-size: 11px;
      line-height: 1.5;
      padding: 0 20px;
    }

    &__logo img {
      max-width: 70%;
    }
  }

  @media (max-width: 576px) {
    margin-top: 30px;

    &__desription {
      font-size: 14px;
    }

    &__desription-info {
      font-size: 10px;
      line-height: 1.4;
    }

    &__logo img {
      max-width: 60%;
    }
  }
  }
