.sale {
  display: flex;
  width: 1360px;
  height: 340px;
  flex-direction: row;
  gap: 25px;
  margin-top: 50px;

  &__1,
  &__2 {
    display: flex;
    flex-direction: column;

    &-text {
      width: 667px;
      height: 71px;
      background-color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        text-decoration: none;
        color: #fff;
        font-size: 21px;
      }
    }
  }

  &__2 {
    padding-right: 0px;
  }

  @media (max-width: 1200px) {
    width: 100%;

    &__1-text,
    &__2-text {
      width: 100%;
    }
  }

  @media (max-width: 992px) {
    gap: 15px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    gap: 20px;
  }

  @media (max-width: 576px) {
    margin-top: 30px;
  }
}
