.releases {
  display: flex;
  margin-top: 98px;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  a {
    display: flex;
    font-size: 32px;
    text-decoration: none;
    color: #000000;
    justify-content: center;
  }

  &__item {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    gap: 25px;
    position: relative;

    &-previous {
      height: 98px;
      width: 32px;
      position: absolute;
      background-color: #FFFFFFE5;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 220px;
      margin-right: 1460px;
    }

    &-next {
      height: 98px;
      width: 32px;
      position: absolute;
      background-color: #FFFFFFE5;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 220px;
      margin-left: 1460px;
    }

    &-photo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 320px;
      height: 370px;
      background-color: #F9F9F9;
      position: relative;
    }

    &-favourite {
      border-radius: 100%;
      background-color: #ffffff;
      width: 40px;
      height: 40px;
      position: absolute;
      margin-left: 250px;
      margin-bottom: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-info {
      h1 {
        font-size: 16px;
      }

      a {
        display: flex;
        font-size: 14px;
        color: #828B8D;
        justify-content: flex-start;
      }
    }

    &2-price {
      display: flex;
      flex-direction: row;
      gap: 15px;
    }

    &2-sale {
      position: absolute;
      background-color: #EB5757;
      margin-right: 265px;
      margin-top: 343px;
      width: 55px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        font-size: 14px;
        color: #fff;
      }
    }

    &__more {
      background-color: #000000;
      height: 50px;
      width: 322px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;

      a {
        color: #fff;
        font-size: 16px;
      }
    }
  }



  @media (max-width: 1200px) {
    margin-top: 70px;

    &__item {
      flex-wrap: wrap;
      justify-content: center;

      &-previous {
        margin-right: 1100px;
      }

      &-next {
        margin-left: 1100px;
      }
    }
  }

  @media (max-width: 992px) {
    a {
      font-size: 26px;
    }

    &__item {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      &-previous,
      &-next {
        transform: scale(0.8);
      }

      &-previous {
        margin-right: 900px;
      }

      &-next {
        margin-left: 900px;
      }
    }
  }

  @media (max-width: 768px) {
    margin-top: 50px;

    &__item {
      flex-wrap: wrap;
      justify-content: center;

      &-previous,
      &-next {
        display: none;
      }
    }
  }

  @media (max-width: 576px) {
    a {
      font-size: 22px;
    }

    &__item {
      gap: 15px;

      &-photo {
        width: 280px;
        height: 340px;
      }

      &-favourite {
        margin-left: 215px;
        margin-bottom: 270px;
      }

      &2-sale {
        margin-right: 225px;
        margin-top: 315px;
      }

      &__more {
        width: 280px;
      }
    }
  }
  @media (max-width: 1200px) {
  &__item {
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
  }
}

@media (max-width: 992px) {
  &__item {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  &__item-photo {
    width: 220px;
    height: 270px;

    img {
      max-width: 85%;
      max-height: 85%;
    }
  }

  &__item-info {
    h1 {
      font-size: 13px;
    }

    a {
      font-size: 11px;
    }
  }

  &__item-favourite {
    margin-left: 170px;
    margin-bottom: 210px;
  }

  &__item1-sale,
  &__item2-sale {
    margin-right: 185px;
    margin-top: 245px;
  }
}

@media (max-width: 768px) {
  &__item {
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
  }

  &__item-photo {
    width: 190px;
    height: 235px;

    img {
      max-width: 80%;
      max-height: 80%;
    }
  }

  &__item-info {
    h1 {
      font-size: 12px;
    }

    a {
      font-size: 10px;
    }
  }

  &__item-favourite {
    width: 30px;
    height: 30px;
    margin-left: 145px;
    margin-bottom: 180px;
  }

  &__item1-sale,
  &__item2-sale {
    width: 45px;
    height: 20px;
    margin-right: 155px;
    margin-top: 215px;

    a {
      font-size: 11px;
    }
  }

  &__item-previous,
  &__item-next {
    display: none;
  }
}

@media (max-width: 576px) {
  &__item {
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }

  &__item-photo {
    width: 160px;
    height: 200px;

    img {
      max-width: 75%;
      max-height: 75%;
    }
  }

  &__item-info {
    h1 {
      font-size: 11px;
    }

    a {
      font-size: 9px;
    }
  }

  &__item-favourite {
    width: 26px;
    height: 26px;
    margin-left: 120px;
    margin-bottom: 155px;
  }

  &__item1-sale,
  &__item2-sale {
    width: 40px;
    height: 18px;
    margin-right: 130px;
    margin-top: 185px;

    a {
      font-size: 10px;
    }
  }

  &__more {
    width: 240px;

    a {
      font-size: 14px;
    }
  }
}

}

.crossed {
  text-decoration: line-through;
}

.actual {
  color: #EB5757;
}
