.announcements {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  &-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin-top: 10px;
  }

  &__title {
    display: flex;
    font-size: 32px;
    text-decoration: none;
    color: #000000;
    justify-content: center;
    font-weight: bold;
  }

  &__item {
    &-previous {
      height: 98px;
      width: 32px;
      position: absolute;
      background-color: #FFFFFFE5;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 143px;
      margin-right: 1460px;
    }

    &-next {
      height: 98px;
      width: 32px;
      position: absolute;
      background-color: #FFFFFFE5;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 145px;
      margin-left: 1460px;
      z-index: 10;
    }

    &-photo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 320px;
      height: 370px;
      background-color: #F9F9F9;
      position: relative;
    }

    &-favourite {
      border-radius: 100%;
      background-color: #ffffff;
      width: 40px;
      height: 40px;
      position: absolute;
      margin-left: 250px;
      margin-bottom: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-info {
      h1 {
        font-size: 16px;
      }

      a {
        display: flex;
        font-size: 14px;
        color: #828B8D;
        justify-content: flex-start;
      }
    }

    &1-price,
    &2-price {
      display: flex;
      flex-direction: row;
      gap: 15px;
    }

    &1-sale,
    &2-sale {
      position: absolute;
      background-color: #EB5757;
      margin-right: 265px;
      margin-top: 343px;
      width: 55px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        font-size: 14px;
        color: #fff;
      }
    }

  }
  

  &__more {
    background-color: #000000;
    height: 50px;
    width: 322px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    a {
      color: #fff;
      font-size: 16px;
    }
  }
  @media (max-width: 1200px) {
  .announcements {
    &-item {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      &-photo {
        width: 280px;
        height: 330px;

        img {
          max-width: 90%;
          max-height: 90%;
        }
      }

      &-info {
        h1 {
          font-size: 14px;
        }

        a {
          font-size: 13px;
        }
      }
    }

    &__more {
      width: 300px;
      height: 46px;

      a {
        font-size: 15px;
      }
    }
  }
}

/* ===== 992px ===== */
@media (max-width: 992px) {
  .announcements {
    &-item {
      flex-wrap: wrap;
      justify-content: center;
      max-width: 700px;
    }

    &__item1,
    &__item2,
    &__item3,
    &__item4 {
      flex: 0 0 45%;
    }

    &__item {
      &-photo {
        width: 240px;
        height: 290px;

        img {
          max-width: 85%;
          max-height: 85%;
        }
      }

      &-info {
        h1 {
          font-size: 13px;
        }

        a {
          font-size: 12px;
        }
      }

      &-favourite {
        width: 34px;
        height: 34px;
        margin-left: 185px;
        margin-bottom: 230px;
      }

      &1-sale,
      &2-sale {
        width: 48px;
        height: 22px;
        margin-right: 200px;
        margin-top: 265px;

        a {
          font-size: 12px;
        }
      }
    }

    &__more {
      width: 260px;
      height: 44px;

      a {
        font-size: 14px;
      }
    }
  }
}

/* ===== 768px ===== */
@media (max-width: 768px) {
  .announcements {
    &-item {
      max-width: 560px;
      gap: 16px;
      justify-content: center;
    }

    &__item1,
    &__item2,
    &__item3,
    &__item4 {
      flex: 0 0 48%;
    }

    &__item {
      &-photo {
        width: 200px;
        height: 240px;

        img {
          max-width: 80%;
          max-height: 80%;
        }
      }

      &-info {
        h1 {
          font-size: 12px;
        }

        a {
          font-size: 11px;
        }
      }

      &-favourite {
        width: 30px;
        height: 30px;
        margin-left: 150px;
        margin-bottom: 185px;
      }

      &1-sale,
      &2-sale {
        width: 44px;
        height: 20px;
        margin-right: 160px;
        margin-top: 215px;

        a {
          font-size: 11px;
        }
      }

      &-previous,
      &-next {
        display: none;
      }
    }

    &__more {
      width: 230px;
      height: 42px;

      a {
        font-size: 13px;
      }
    }
  }
}

/* ===== 576px ===== */
@media (max-width: 576px) {
  .announcements {
    &-item {
      max-width: 420px;
      gap: 14px;
    }

    &__item {
      &-photo {
        width: 170px;
        height: 205px;

        img {
          max-width: 75%;
          max-height: 75%;
        }
      }

      &-info {
        h1 {
          font-size: 11px;
        }

        a {
          font-size: 10px;
        }
      }
    }

    &__more {
      width: 210px;
      height: 40px;

      a {
        font-size: 12px;
      }
    }
  }
}


}
