.blogs {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: visible;
  margin-top: 60px;
  width: 1680px;
  height: 645px;

  @media (max-width: 1200px) {
    width: 100%;
    height: auto;
  }

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  @media (max-width: 768px) {
    margin-top: 30px;
  }

  @media (max-width: 576px) {
    margin-top: 20px;
  }
  &__banner-png{
      @media (max-width: 1200px) {
    width: 610px;
    height: auto;
  }

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  @media (max-width: 768px) {
    margin-top: 30px;
  }

  @media (max-width: 576px) {
    margin-top: 20px;

  }
   }
  &__banner2{
    @media (max-width: 1200px) {
display: none;
  }

  }
  &__banner-previous {
display: none;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__banner-player {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    margin-top: 270px;
    margin-left: 360px;

    @media (max-width: 992px) {
      margin-left: 200px;
      display: none;
    }

    @media (max-width: 768px) {
      position: static;
      margin: 20px 0;
    }
  }

  &__info {
    background-color: #000000;

    &-text {
      display: flex;
      flex-direction: row;
      margin-left: 50px;
      margin-top: 55px;

      @media (max-width: 768px) {
        margin-left: 20px;
        margin-top: 30px;
      }
    }

    &-1 {
      font-size: 21px;
      text-decoration: none;
      color: #fff;

      @media (max-width: 576px) {
        font-size: 18px;
      }
    }

    &-all {
      font-size: 14px;
      text-decoration: underline;
      color: #fff;
      margin-left: 490px;

      @media (max-width: 992px) {
        margin-left: 50px;
      }

      @media (max-width: 576px) {
        margin-left: 20px;
      }
    }

    &-title {
      font-size: 32px;
      color: #fff;
      text-decoration: none;
      line-height: 1.2;
      margin-left: 50px;
      margin-top: 85px;

      @media (max-width: 768px) {
        margin-left: 20px;
        margin-top: 40px;
        font-size: 24px;
      }
    }

    &-content {
      color: #828282;
      margin-left: 50px;
      font-size: 14px;
      margin-top: 43px;
      line-height: 1.75;

      @media (max-width: 768px) {
        margin-left: 20px;
        margin-top: 20px;
      }
    }

    &-description {
      display: flex;
      flex-direction: column;
    }

    &-more {
      margin-left: 51px;
      margin-top: 80px;

      @media (max-width: 768px) {
        margin-left: 20px;
        margin-top: 40px;
      }

      a {
        color: #fff;
        font-size: 14px;
        text-decoration: underline;
      }
    }
  }

  &__banner2-next {
  display: none;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__block {
    display: none;


    @media (max-width: 992px) {
      width: 100%;
      height: 40px;
    }
  }
}
