.company {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1300px;
  height: 75px;
  margin-top: 50px;

  @media (max-width: 1200px) {
    width: 100%;
    padding: 0 40px;
  }

  @media (max-width: 992px) {
    padding: 0 20px;
    height: auto;
  }

  @media (max-width: 768px) {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
  }

  @media (max-width: 576px) {
	&__item{
	width: 25px;
	height: auto;
	}
    flex-direction: wrap;
    gap: 15px;
    margin-top: 20px;
  }
}
